version: "3.9"

services:
  server:
    build: ./server
    container_name: fp_server

  proxy:
    build: ./proxy
    container_name: fp_proxy
    depends_on:
      - server
    environment:
      - LISTEN_PORT=8000
      - UPSTREAM_HOST=server
      - UPSTREAM_PORT=9000

  client:
    build: ./client
    container_name: fp_client
    depends_on:
      - proxy
    environment:
      - PROXY_HOST=proxy
      - PROXY_PORT=8000
