version: "3.9"

services:
  server:
    build: ./server
    container_name: fp_server

  proxy:
    build: ./proxy
    container_name: fp_proxy
    depends_on:
      - server
    volumes:
      - ./proxy/logs:/logs

  client:
    build: ./client
    container_name: fp_client
    depends_on:
      - proxy
