version: "3.9"

services:
  proxy:
    build: ./proxy
    container_name: proxy
    ports:
      - "8080:8080" # expose proxy to host (simulating VPS public port)
    networks:
      - labnet

  server:
    build: ./server
    container_name: server
    networks:
      - labnet

  client:
    build: ./client
    container_name: client
    networks:
      - labnet
    depends_on:
      - proxy

networks:
  labnet:
    driver: bridge
