services:
  server:
    build: ./server
    container_name: fp_server

  proxy:
    build: ./proxy
    container_name: fp_proxy
    depends_on:
      - server
    volumes:
      - ./proxy/logs:/logs

  client:
    build: ./client
    container_name: fp_client
    stdin_open: true # Allow stdin
    tty: true # Allocate a pseudo-TTY
    depends_on:
      - proxy
